<div id="app-root">
    <header id="app-header">
        <section class="start">
            <button class="nav-toggle">toggle nav</button>
            <h1 class="title">App title</h1>
       </section>
       <section class="end">
        <ul>
            <li><button>Header Item</button></li>
            <li><button>Header Item</button></li>
        </ul>
       </section>
    </header>
    <aside id="app-sidebar>
        <header class="sidebar-header"><h2>Sidebar</h2></header>
        <section></section>
        <footer class="sidebar-footer"></footer>
    </aside>
    <section id="app-main">
        <nav id="app-nav">
            <a href="#">Navlink</a>
            <a href="#">Navlink</a>
            <a href="#">Navlink</a>
        </nav>
        <main id="app-content"></main>
    </section>
    <footer id="app-footer">
        <p>App footer</p>
    </footer>
    <div id="app-modal" class="flex-col">
        <header>Modal Header</header>
        <section class="content"></modal>
        <footer></footer>
    </div>
</div>
