html {box-sizing:border-box}
*, *:before, *::after {box-sizing:inherit}
body {margin:0}
:root{
    --primary: #29c785;
    --secondary: #444857;
    --light: #f1f1f1;
    --dark: #333;
    --border: 1px solid var(--light);
    --border-colored: 1px solid currentColor);
    --shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    --size: 8px;
    --size-sm: 4px;
    --size-lg: 16px;
    --size-xl: 32px;
    --grid-areas: 't t t' 'l c r' 'b b b';
    --grid-rows: auto 1fr auto;
    --grid-cols: auto 1fr auto;
    --col-gap: var(--size-sm);
    --row-gap: var(--size-sm);
}

.flex-row {display: flex}
.flex-col {flex-direction: column}
.centered {display: grid; justify-content: center; align-items: center;}
.grid{
    grid-template-areas: var(--grid-areas);
    grid-template-rows: var(--grid-rows);
    grid-template-cols: var(--grid-cols);
    grid-gap: var(--col-gap)/var(--row-gap);
}
.bordered {border: var(--border)}
.color-bordered {border: var(--border-colored)}
.bg-primary {background: var(--primary)}
.fg-primary {color: var(--primary}}
.bg-secondary {background: var(--secondary)}
.fg-secondary {color: var(--secondary}}
.bg-light {background: var(--secondary)}
.fg-light {color: var(--secondary}}
.bg-dark: var(--dark)}
.fg-dark var(--dark}}
.h-full {height: 100%}
.w-full {width: 100%}
.padded {padding: var(--size)}
.paddingless {padding: 0}
.margined {margin: var(--size)}
.marginless {margin: 0}

.list {list-style-type: none}
.list ul {margin: 0; display: flex; flex-direction: column; align-items: center}
.list li {padding: var(--size-sm); align-self: stretch}

a, button {text-decoration: none; cursor: pointer; border: none; background: var(--color-light); color: var(--color-dark)}
a:hover, button:hover {color: var(--primary)}

nav {display: flex; align-items: center; justify-content: space-between;}
input {background: var(--color-light); color: var(--color-dark); border: none; padding: var(--size-sm) var(--size); outline: none;}
